<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{ title }}
      </h1>
      <p>Cliquez sur un titre pour afficher le contenu de l'article.</p>
      <p>Ce Lorem Ipsum vous est présenté par <a href="https://hipsum.co/">Hispum</a> : Un générateur ne contenant que des mots de Hipster.</p>
      <br>
      <ul class="list-group">
        <app-postlist></app-postlist>
      </ul>
    </div>
  </div>
</div>


