<div class="row">
  <div class="col-xs-12">
    <h2>Ecrire un nouvel article</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content"
                    class="form-control" formControlName="content">
          </textarea>
      </div>
      <button class="btn btn-success" [disabled]="postForm.invalid" type="submit">Enregistrer</button>
    </form>
  </div>
</div>
